div
{
    background-color: rgb(164, 201, 234);
}

.heading
{
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    width: 50%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(99, 94, 94);
}

.note
{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(243, 225, 105);
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(164, 166, 168);
}